@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 5.s ease-in-out ;
}

:root {
    --fundo-principal: #F5F5F5 ;
    --texto: #222222 ;
    --texto-inverso: #FFFFFF ;
    --destaque: #441151 ;
    --destaque-inverso: #CA61C3 ;
    --fundo-card: #FFFFFF ;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

body.escuro {
    --fundo-principal: #222222 ;
    --texto: #E0E0E0 ;
    --texto-inverso: #333333 ;
    --destaque: #CA61C3 ;
    --destaque-inverso: #441151 ;
    --fundo-card: #444444 ;
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

nav#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 8px;
    border-radius: 32px;
    transition: 0.5s ease-in-out;
}

nav#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 24px;
}

section#ficha {
    background-color: var(--fundo-card);
    padding: 32px;
    border-radius: 8px;
    grid-column: 2;
}

section#ficha img.foto {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center 10%;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

section#ficha h1 {
    color: var(--destaque);
    margin: 16px 0;
    font-size: 1.5em;
    text-align: center;
}

section#ficha p {
    text-align: center;
}

div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 16px;
    margin-top: 16px;
}

div#social a {
    color: var(--destaque);
    transition: .5s ease-in-out;
}

div#social a:hover {
    color: var(--destaque-inverso);
}

section#detalhes {
    grid-column: 2;
}

article {
    background-color: var(--fundo-card);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
}

article h2 {
    color: var(--destaque);
    margin-bottom: 24px;
}

#video-container {
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

#skill-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill-container .nome {
    font-weight: 800;
    color: var(--texto);
}

#skill-container .percent {
    font-weight: 800;
    color: var(--destaque);
}

#skill-container .barra {
    width: 100%;
    height: 8px;
    background-color: var(--fundo-principal);
    border-radius: 4px;
}

#skill-container .progresso {
    height: 100%;
    background-color: var(--destaque);
    border-radius: 4px;
}

#formacao-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
}

#formacao-container .curso {
    padding: 8px 0;
    background-color: var(--fundo-principal);
    border-radius: 8px;
    border-left: 5px solid var(--destaque);
    padding-left: 16px;
    transition: .5s ease-in-out;
}

#formacao-container .curso:hover {
    border-left-width: 20px;
    border-color: var(--destaque-inverso);
    cursor: pointer;
}

#formacao-container .periodo {
    font-size: 0.9em;
    font-weight: 600px;
    color: var(--texto);
}

#formacao-container .instituicao {
    color: var(--destaque);
    font-size: 1.1em;
}

#projeto-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#projeto-container .projeto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--fundo-principal);
    padding: 16px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    transition: .5s ease-in-out;
}

#projeto-container .projeto:hover {
    border-color: var(--destaque);
    border-left-width: 16px;
    cursor: pointer;
}

#projeto-container .foto {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

#projeto-container .descricao {
    padding: 16px 0;
    padding-right: 8px;
}

#projeto-container .descricao > summary {
    color: var(--destaque);
    font-weight: bold;
}

#projeto-container .descricao > p {
    color: var(--texto)
}

footer {
    background-color: var(--destaque);
    color: var(--texto-inverso);
    text-align: center;
    padding: 16px;
    font-size: 0.8em;
}

footer a {
    color: var(--texto-inverso);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--destaque-inverso);
}

@media screen and (min-width: 900px) {

    main {
        grid-template-columns: auto 300px 1fr auto;
    }

    section#ficha {
        grid-column: 2 / 3;
        height: fit-content;
        position: sticky;
        top: 75px;
    }

    section#detalhes {
        grid-column: 3 / 4;
    }

    #video-container {
    max-width: 900px;
    }

    #skill-container {
        grid-template-columns: 1fr 1fr;
    }

    #formacao-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    }

    #formacao-container .curso {
    padding: 8px 0;
    padding-right: 24px;
    padding-left: 16px;
    }

    #projeto-container .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #projeto-container .projeto-info {
        max-width: 50%;
    }

    #projeto-container .foto {
        aspect-ratio: 1/1;
        max-height: 300px;
        max-width: 40%;
    }

    #projeto-container .descricao > p {
        max-width: 80%;
    }
}