@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #F5F5F5 ;
    --texto: #222222 ;
    --texto-inverso: #FFFFFF ;
    --destaque: #441151 ;
    --destaque-inverso: #CA61C3 ;
    --fundo-card: #FFFFFF ;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

nav#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 8px;
    border-radius: 32px;
    transition: 0.5s ease-in-out;
}

nav#menu a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 24px;
}

section#ficha {
    background-color: var(--fundo-card);
    padding: 32px;
    border-radius: 8px;
    grid-column: 2;
}

section#ficha img.foto {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center 10%;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

section#ficha h1 {
    color: var(--destaque);
    margin: 16px 0;
    font-size: 1.5em;
    text-align: center;
}

section#ficha p {
    text-align: center;
}

div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 16px;
    margin-top: 16px;
}

div#social a {
    color: var(--destaque);
    transition: .5s ease-in-out;
}

div#social a:hover {
    color: var(--destaque-inverso);
}

section#detalhes {
    grid-column: 2;
}

article {
    background-color: var(--fundo-card);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
}

article h2 {
    color: var(--destaque);
    margin-bottom: 24px;
}

#video-container {
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

#skill-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill-container .nome {
    font-weight: 800;
    color: var(--texto);
}

#skill-container .percent {
    font-weight: 800;
    color: var(--destaque);
}

#skill-container .barra {
    width: 100%;
    height: 8px;
    background-color: var(--fundo-principal);
    border-radius: 4px;
}

#skill-container .progresso {
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 4px;
}

#formacao-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
}

#formacao-container .curso {
    padding: 8px 0;
    background-color: var(--fundo-principal);
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    padding-left: 16px;
    transition: .5s ease-in-out;
}

#formacao-container .curso:hover {
    border-left-width: 20px;
    border-color: var(--destaque);
    cursor: pointer;
}

#formacao-container .periodo {
    font-size: 0.9em;
    font-weight: 600px;
    color: var(--texto);
}

#formacao-container .instituicao {
    color: var(--destaque-inverso);
    font-size: 1.1em;
}

@media screen and (min-width: 768px) {
    #skill-container {
        grid-template-columns: 1fr 1fr;
    }
}